.footer {
  &__languages {
    list-style-type: none;
    text-align: right;
    padding: 0;
    float: right;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
      a{
        color: $primary-color;
        text-decoration: underline
      }
    }
  }

  ul,
  li {
    display: inline;
  }
}
