$mute : lighten($color: #dfdfdf, $amount: 8);

.breadcrumbs {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &__item {

    transition: transform .3s ease-in-out;

    width: 100%;
    text-decoration: none;
    display: block;
    padding: 0.8rem 1rem;
    width: 100%;
    background: $mute;
    position: relative;
    overflow: visible;

    border-bottom: 2px solid #fff;

    a {
      text-decoration: none;
      color: $text-color;
    }

    &.active {
      background-color: $primary-color;
      color: white;
      font-weight: bold;
      

      transform: scale(1.05);


      .text, i {
        color: white;
        text-decoration: none;

      }
    }

    

    /**


    &:not(:last-child) {
      :after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        z-index: 2;
        bottom: -10px;
        left: 80%;
        margin-left: -10px;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: $mute transparent transparent transparent;
      }

      &.active {
        :after {
          border-color: $primary-color transparent transparent transparent;
        }
      }

      :before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        z-index: 1;
        bottom: -13px;
        left: 80%;
        margin-left: -12px;
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: #fff transparent transparent transparent;
      }
    }
     */
  }
  
}
