.u-underline {
    border-bottom: 1px solid lightgray;
}

// Backgrounds

.u-background-color-white {
    background: white !important;
}

// Paddings

.u-padding-large {
    padding: 5rem;
}

.u-padding-medium {
    padding: 3rem;
}

.u-padding-small {
    padding: 1rem;
}

.u-padding-x-small {
    padding: .5rem;
}

// Paddings Vertical

.u-padding-vertical-large {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important
}
